
<div class="sticky-top" style="background-color: #2d2a2e;">
    <mat-toolbar color="primary" style=" background-color: #f44336; border-top-left-radius: 25px; border-top-right-radius: 25px;" class="shadow-lg nav-container"> 
        &nbsp;&nbsp;
        <div class="pointer" [routerLink]="['/home']" routerLinkActive="router-link-active">
            <img src="assets/img/logo.png" alt="" width="50">
            &nbsp;
            <span>the apartment</span>  
        </div>
        
        <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
          <i class="fas fa-bars"></i>
      </button>

      <div class="navbar-collapse" [ngClass]="{'show': isNavbarOpen}">
          @if (logged.getIsLogged()=='theapartmentbnb@gmail.com') {
            <!-- opciones para admin -->
          }

          @if (logged.getIsLogged()=='') {
            <a mat-button [routerLink]="['/signin']" routerLinkActive="router-link-active">sign in</a>
            <a mat-button [routerLink]="['/register']" routerLinkActive="router-link-active">sign up</a>
          } @else {
            <a *ngIf="!(logged.getIsLogged()=='')" mat-button [routerLink]="['/profile']" routerLinkActive="router-link-active">{{username}}</a>
          }

          
        <a mat-button [routerLink]="['/home']" routerLinkActive="router-link-active">home</a>  
        <a mat-button [routerLink]="['/apartments']" routerLinkActive="router-link-active">apartments</a>  
        <a mat-button [routerLink]="['/reservations']" routerLinkActive="router-link-active">bookings</a>
        <a mat-button [routerLink]="['/gallery']" routerLinkActive="router-link-active">gallery</a>  
        <a mat-button [routerLink]="['/about']" routerLinkActive="router-link-active">about</a>
        &nbsp;&nbsp;&nbsp;
        <div><div class="custom-select-wrapper">
            <i class="fas fa-globe select-icon"></i>
            <select class="custom-select" [(ngModel)]="selectedCurrency" (change)="selectCurrency($event)">
              <option value="USD">USD</option>
              <option value="MXN">MXN</option>
              <option value="EUR">EUR</option>
            </select>
          </div>
        </div>
        <li class="nav-item dropdown">
            <div class="btn-group dropstart">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <img src="assets/img/accesibility.png" alt="" height="25">
                </a>
                <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a class="dropdown-item" href="">Leer</a></li>
                    <li><a class="dropdown-item" href="#">Pausar</a></li>
                    <li><a class="dropdown-item" href="#">Detener</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" (click)="toggleContrast()">Alternar contraste</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" (click)="increaseFontSize()">Aumentar tamaño del texto</a></li>
                    <li><a class="dropdown-item" (click)="decreaseFontSize()">Disminuir tamaño del texto</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" (click)="increaseLineHeight()">Aumentar espaciado de línea</a></li>
                    <li><a class="dropdown-item" (click)="decreaseLineHeight()">Disminuir espaciado de línea</a></li>
                </ul>
            </div>
        </li>
      </div>
    </mat-toolbar>
</div>
