<app-navbar></app-navbar>

<div class="paddingx">
  
    <div class="">
      <form id="contactus" [formGroup]="form" (ngSubmit)="onSubmit()">
        <h1 class="my-5">sign up</h1>

        <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>

        <fieldset>
            <input placeholder="email" type="text" tabindex="1" name=email  required
              autofocus formControlName="email">
        </fieldset>
        <fieldset>
          <input placeholder="usuario" type="text" tabindex="1" name=username  required
            autofocus formControlName="username">
        </fieldset>
        <fieldset>
          <input placeholder="contraseña" type="password" tabindex="3" name="password" 
            required formControlName="password">
        </fieldset>
        <fieldset>
            <input placeholder="Confirm Password" type="password" tabindex="4" name="confirmPassword" required formControlName="confirmPassword">
            <div *ngIf="form.errors?.['passwordMismatch'] && form.get('confirmPassword')?.touched" class="error-message">
              Passwords do not match.
            </div>
          </fieldset>
        <fieldset>
            <input placeholder="fullname" type="text" tabindex="3" name="fullname" 
              required formControlName="fullname">
          </fieldset>
        <fieldset>
            <button id="contactus-submit" type="submit" data-submit="...Sending" mat-raised-button color="primary" class="shadow">register</button>

          <!-- <button  type="submit"  id="contactus-submit" data-submit="...Sending">Registro</button> -->
        </fieldset>
        
      </form>
    </div>
    
  </div>
