
<div class="container">
    <div class="p-5 d-flex flex-column" id="_2bg">
      <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
        <h1 class="text-center mb-5 fw-bold mt-3">Contact Us</h1>
        <div class="form-floating mb-5 mx-5">
          <input type="text" id="subject" class="form-control" placeholder="subject" formControlName="subject">
          <label for="subject">Subject</label>
        </div>
        <div class="form-floating mb-5 mx-5">
          <input type="email" id="email" class="form-control" placeholder="email" formControlName="email">
          <label for="email">Email</label>
        </div>
        <div class="form-floating mb-5 mx-5">
          <textarea class="form-control" id="description" placeholder="description" style="height: 100px" formControlName="description"></textarea>
          <label for="description">Description</label>
        </div>
        <div class="text-center mb-3">
          <button type="submit" class="btn btn-dark" [disabled]="!formulario.valid">Submit</button>
        </div>
      </form>
    </div>
  </div>